<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item *ngFor="let set of rollHistory; index as i">
            {{set.rollString}} : {{set.setTotal}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="inputString" placeholder="input"></ion-input>
          <ion-button (click)="test()">
            Test
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <!-- d2, d4, d6, d8, d10, d12, d20, d100 -->
        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
            <ion-col>
              <button class="dieSelect">
                <ion-img src="../../assets/placeholder.png"></ion-img>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>